= form_for [@group, @group.users.build] do |f|
  - if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg
  .form__content
    .content__field
      = label_tag :email
      = f.text_field :email, class: "form-control"
    .content__field
      = label_tag :password
      = f.password_field :password, class: "form-control"
    .content__field
      = label_tag :password_confirmation
      = f.password_field :password_confirmation, class: "form-control"
    .content__actions
      = f.submit "SignUp", class: "btn btn-success margin5-top"

  = link_to public_pages_path do
    戻る
  \|
  = link_to new_user_session_path do
    ログイン


