= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = label_tag :email
    = text_field_tag :email
  .field
    = label_tag :password
    = password_field_tag :password
  .field
    = label_tag :password_confirmation
    = password_field_tag :password_confirmation
  .actions
    = submit_tag "Login"

  = link_to public_pages_path do
    戻る
  \|
  = link_to new_user_session_path do
    ログイン


