= form_tag user_sessions_path, :method => :post do
  .form__content
    .content__field
      = label_tag :email
      = text_field_tag :email, "", class: "form-control"
    .content__field
      = label_tag :password
      = password_field_tag :password, "", class: "form-control"
    .content__actions
      = submit_tag "Login", class: "btn btn-success margin5-top"

  = link_to public_pages_path do
    戻る
  \|
  = link_to new_user_path do
    新規登録
