!!!
%html
  %head
    %title Bandage
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .header--public
      .header-content
        / - if current_user
        /   = link_to "Edit Profile", edit_user_path(current_user.id)
        /   = link_to "Logout", :logout, method: :post
        / - else
        = link_to new_user_path, class: "content__left" do
          %i.fa.fa-plus-square
        = link_to :login, class: "content__right" do
          %i.fa.fa-sign-in


        / \#{link_to "ログイン", :login}
    = yield